services:
  web:
    build: .
    command: sh -c "python manage.py migrate && python sql.py && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./src:/app
    ports:
      - "8000:8000"
    env_file:
    - .env
    depends_on:
    - redis
  redis:
    image: redis:alpine
    ports:
    - "6379:6379"
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=chat_db
      - POSTGRES_USER=chat_user
      - POSTGRES_PASSWORD=chat_password
    ports:
    - "5432:5432"
volumes:
  postgres_data:
    