body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  margin: 0;
}
.login-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.user-header {
    display: flex;
    justify-content: space-between; /* Uno a cada extremo */
    align-items: center;
    background-color: #f0f2f5;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.logout-btn {
    background-color: #dc3545; /* Rojo peligro */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.logout-btn:hover {
    background-color: #c82333;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
button:hover {
  background-color: #0073e6;
}
h2 {
  color: #333;
}
